.post {
    height: 200px;
}
.post img{
    height: 150px;
}

.post:hover{
    background-color: #ddd;
}

.my-focus:hover {
    font-size: 18px;
}

.custom-circle {
    border: 1px solid red;
    border-radius: 15%;
}