
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load django_bootstrap5 %}
    <meta charset="UTF-8">
    <title>SocialNet</title>

<html>
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><img src="{% static 'Instagram_logo_2016.svg.png' %}" height="40px"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link my-focus" href="/">MAIN</a>
                  </li>
                     {% if request.user.profile %}
                  <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'profile' request.user.profile.id %}">Profile</a>
                  </li>
                    {% else %}
                    <li>
                    <div>
                    <a class="nav-link my-focus" href="{% url 'add-profile' %}"> Add profile </a>
                    </div>
                    {% endif %}
                    </li>
                    <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'note_lst' %}">Notification -
                        {{ request.user.notification_set.count }}</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'shorts-list' %}">Reels</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'add-short' %}">Add Reel</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'posts' %}">Posts</a>
                  </li>
                    {% if request.user.is_authenticated %}
                    <div> <a class="nav-link my-focus"  href="{% url 'add-post-form' %}"> Add post(dj form) </a>
                  </li>">
                    </div>
                  <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'saved_post_list' %}">SavedPosts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'add-post' %}">Addpost</a>
                  </li>
                    {% endif %}
                    <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'about' %}">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'contactsus' %}">Contacts</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'faq' %}">FAQ</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'stuff' %}">Stuff</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'sign-in' %}">Sign in</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link my-focus" href="{% url 'sign-out' %}">Sign out</a>
                  </li>
                </ul>

                <form class="d-flex">
                  <input class="form-control me-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary" type="button">Search</button>
                </form>
              </div>
            </div>
        </nav>
    <div class="row">
        <div class="col-2">
            <div class="my-focus"><center>
                {% if request.user.is.authenticated %}
                HI, {{ request.user.username }}
                {% else %}
                Please sign in
                {% endif %}</center>
            </div>
            <div class="my-focus"><center>MAIN</center></div>
            <div class="my-focus"><center>
                <a href="{% 'search' %)"> </a>SEARCH</center></div>
            <div class="my-focus"><center>POPULAR</center></div>

        </div>
    <div class="col-10">
        {% if messages %}
        <div class="col-9">
            {% for message in messages %}
            <div
                {% if message.tags %}
                 class="alert alert-{{ message.tags }}"
                {% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

         {% block content %}

         {% endblock %}
    </div>

    </body>
</html>