{% extends 'base.html' %}

{% block content %}

    <h1   class="alert alert-dark">
        <strong><center>Hello World! This is socialnet!</center></strong> </h1>
    <div>
        <h1><span class="badge bg-secondary"> Start page </span></h1>
    </div>

    <h3>{{ name }}</h3>

    <div>
        <a href="/profile/{{request.user.profile.id}}">
            PROFILE {{ request.user.username}}
        </a>
    </div>

    <div> {{ request.user }} </div>

    <h4> POSTS </h4>
    <ol>
    {% for post in posts %}
        <li>
        <div>
            <a href="/posts/{{ post.id }}">
            {{post.name}}</a>

        </div>
        </li>
    {% endfor %}
    </ol>

    <h2> CATEGORIES </h2>

        <div>
            <a href="/category_info/">CATEGORY</a>
        </div>

    <h4> SHORTS </h4>

        <div>
            <a href="{% url 'shorts-list' %}">Shorts</a>
        </div>



{% endblock %}


