{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">

<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> SOCIAL NET</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <a href="/">MAIN |</a>
    <a href="{% url 'shorts-list' %}">Shorts |</a>
    <a href="{% url 'posts' %}">Posts |</a>
    <a href="{% url 'saved_post_list' %}">Saved posts |</a>
    <body>


{% for post in posts %}

<div class="post">

<h2> POSTS </h2>

<div> POST: {{ post.name }} </div>

<div> AUTHOR {{ post.creator }}</div>

</div>
<div class="post">

  <a href="/posts/">
    {{ post.name }} </a>
{% endfor %}
  </div>


