{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div> <h2 class="container p-2 my-5 bg-dark text-white">POST </h2></div>
{% if post.creator %}
<div> Author:
    <a href="{% url 'user_posts' post.creator.id %}">
       {{ post.creator.username }}
    </a>
</div>
{% endif %}

<div> <h3> HEADER {{ post.name }} </h3> </div>

<img src=" {{post.photo.url }}" height="200px">

<div> <h4> DESCRIPTION {{ post.description }} </h4> </div>

<div> Likes {{ post.likes }}
        <form method="POST" >
        {% csrf_token %}
            <button name='like' class="btn btn-success"> LIKE </button></form>
        <hr>
            <form method="POST" >
            {% csrf_token %}
            <button name='dislike' class="btn btn-danger"> DISLIKE </button>
    </form>

</div>



<br>
<h3 class="container p-2 my-5 bg-dark text-white">Comments</h3>

{% for comment in comments %}

<div><b>{{ comment.created_by }} </b> {{ comment.comment_text}}</div>

{%  endfor %}

{% if request.user == post.creator %}
    <p>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="comment" value="{{ post.comment_text }}">
        <a href="{% url 'edit-comment' post.id %}"><button class="btn btn-info"> Edit comment </button></a>
        </form>
    </p>
<br>
    <p>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="comment" value="{{ post.comment_text }}">
        <a href="{% url 'delete-comment' post.id %}"><button class="btn btn-info"> Delete comment </button></a>
        </form>
    </p>
{% endif %}
<div>
    {% if post in request.user.savedposts.post.all %}
    <form action="/remove-saved/" method="POST">
        {% csrf_token %}
        <input type="number" name="post_id" value="{{ post.id }}" hidden>
        <button class="btn btn-danger"> Remove favorites</button></form>
    {% else %}
    <form action="/add-saved/" method="POST">
        {% csrf_token %}
        <input type="number" name="post_id" value="{{ post.id }}" hidden>
    <button class="btn btn-dark"> SAVE favorites</button>
    </form>
    {% endif %}

</div>
<br>
{% if request.user == post.creator %}
    <p>
        <a href="{% url 'update-post' post.id %}"><button class="btn btn-info">Edit</button></a>
    </p>
    <p>
        <a href="{% url 'delete-post' post.id %}"><button class="btn btn-danger">Delete</button></a>
    </p>
    <br>
{% endif %}
<h3>Add comment</h3>
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button class="btn btn-dark"> ADD</button>
<br>


</form>

{% endblock %}

