{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div> <h2 class="container p-2 my-5 bg-dark text-white">Our list of employees</h2></div>

<div>
    <center><p>
      <strong>List of chairmen</strong>
      <br>
Jack Dorsey (2008–2015)<br>
Omid Kordestani (2015–2020)<br>
Patrick Pichette (2020–2021)<br>
Bret Taylor (2021–2022)
      <br>
      <br>
      <strong>List of CEOs</strong>
      <br>
Jack Dorsey (2006–2008); first term<br>
Evan Williams (2008–2010)<br>
Dick Costolo (2010–2015)<br>
Jack Dorsey (2015–2021); second term<br>
Parag Agrawal (2021–2022)<br>
Elon Musk (2022–2023)
    </p></center>
</div>


{% endblock %}