<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> SOCIAL NET</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <a href="/">MAIN |</a>
    <a href="{% url 'shorts-list' %}">Shorts |</a>
    <a href="{% url 'posts' %}">Posts |</a>
    <a href="{% url 'saved_post_list' %}">Saved posts |</a>
    <body>




{% load static %}
<link rel="stylesheet" href="{% static 'main.css' %}">


<h1> USER POSTS: {{ user.username }}</h1>
{% for post in posts %}
<div class="post">

  <a href="/posts/{{ post.id }}">
    {{ post.name }} </a>
  {% if post.photo %}
  <div>
  ><img src="{{ post.photo.url}}" height="200px">
</div>
  {% endif %}

  <hr><!--straght line-->
</div>
{% endfor %}